header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-700);
  color: var(--blue);
  height: 20vh;
}

header h1 {
  display: flex;
}

main {
  display: flex;
  background-color: var(--gray-600);
  color: var(--white);
  height: 80vh;
  width: 100%;
}


main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 2px solid #333333;
  border-radius: 8px
}


.contentTasks {
  margin:0 auto;
  width: 52%;
}

@media screen and (max-width: 768px) {
  .contentTasks {
    width: 95%;
  }
  
}


.titleH1 {
  color: var(--purple-dark);
}


.formTask {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: -27px;
  justify-content: space-between;
}

.inputTask  {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 54px;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
}	

.inputTask:focus {
  color: var(--white);
  outline: none;
  border: 1px solid var(--purple);
}

.inputTask::placeholder {
  color: var(--gray-300);
  font-weight: regular;
  font-size: 1rem;
  line-height: 140%;
}

.addTask {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--blue-dark);
  border: none;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 140%;
}

.addTask svg{
  margin-left: 8px;
}


.logo {
  margin-right: 8px;
}


.stats  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 24px;
}

.stats > div {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.stats button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;

  font-size: 12px;
  color: var(--gray-200);
  font-weight: bold;
  padding: 2px 8px;
  background-color: var(--gray-400);
  border-radius: 1rem;
}

.stats div:first-child {
  color:var(--blue)
}

.stats div:last-child { 
  color:var(--purple)
}


.emptyList {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
}


.emptyList h3 {
  margin-top: 32px;
}

.emptyList h3 + p {
  line-height: 140%;
}